.text-menor{
    font-size: 13px;
}

.div-facilidades{
    width: 325px;
}

.div-novedades{
    width: 325px;
}

.color-amarillo{
    color: #DAFF01;
}

.color-lila{
    background-color: #9353FF;
    color: #fff;
}

.color-gris{
    color: #CCCCCC;
}

.posicion{
    top:55%;
}

.form-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50px; */
}

.form-check-label {
    margin-top: 0.25rem; 
    margin-right: 1.3rem;
    font-size: 1rem;
}

.form-check-label.label-espacio {
    margin-left: -1rem; 
}

.input-center{
    font-size: 80%;
    margin-right: 2rem;
}

.modal-header .text-md-start {
    text-align: left !important;
}

@media (min-width: 768px){
    .div-novedades{
        width: 696px;
    }

    .posicion{
        top:40%;
    }
}